<h2><%= @message %></h2>
<br />
<br />
<div class="big-input">
		<%= form_tag("/new/n", :url => { :controller => 'pastebin', :action => 'create'}, :method => "post") do %>
			<b class="big-bold"><%= label_tag(:name, "cl2p.net/") %></b>
			<b class="big-input-text"><%= text_field_tag(:name) %></b>
			<%= submit_tag("UNLEASH THE FUTURE!") %>
		<% end %>
</div>

