<script type="text/javascript">
//jQuery(function($) {
  //$(document).ready(function() {
    //$("#pastebin_edit")
     // .bind('ajax:loading', function() {alert("loading!");})
     // .bind('ajax:success', function(data, status, xhr) {alert("success!");})
     // .bind('ajax:failure', function(xhr, status, error) {alert("failure!");})
    //  .bind('ajax:complete', function() {alert("complete!");});
  //});
//});
var autosave = window.setInterval("autosaveForm()", 11000);
 //$("#pastebin_edit").live('submit.rails', function(e) { $("#pastebin_edit").trigger("submit.rails") });
function autosaveForm() {
  //$("#pastebin_edit").trigger("submit.rails");
  document.getElementById("boton").click();
 //$("#pastebin_edit").live('submit.rails', function(e) { $("#pastebin_edit").trigger("submit.rails") });
//$('form').live('submit.rails', function(e) { ... });
}

tinyMCE.init({
        // General options
        mode : "exact",
        elements : "richText",
        theme : "advanced",
	width : "930",
	height : "700",
        plugins : "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

        // Theme options
        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",

        // Skin options
        skin : "o2k7",
        skin_variant : "silver",

        // Example content CSS (should be your site CSS)
       // content_css : "css/example.css",

        // Drop lists for link/image/media/template dialogs
        template_external_list_url : "js/template_list.js",
        external_link_list_url : "js/link_list.js",
        external_image_list_url : "js/image_list.js",
        media_external_list_url : "js/media_list.js",

        // Replace values for the template plugin
        template_replace_values : {
                username : "Some User",
                staffid : "991234"
        }
});
   
	// initialisation
	editAreaLoader.init({
		id: "pastebinText"	// id of the textarea to transform		
		,start_highlight: true	// if start with highlight
		,allow_resize: "false"
		,allow_toggle: false
		,word_wrap: true
		,language: "en"
		,syntax: "Java"	
		,min_width: 938
		,min_height: 700
		,toolbar: "syntax_selection, |, select_font, |, fullscreen, *, new_document,|, search, go_to_line, undo, redo, |, highlight, word_wrap"
		,font_size: 14
	});

	// disabled Pastebin
	editAreaLoader.init({
		id: "disabledPastebin"		
		,start_highlight: true
		,allow_resize: "false"
		,allow_toggle: false
		,word_wrap: true
		,language: "en"
		,syntax: "Java"	
		,is_editable: false	
		,min_width: 910
		,min_height: 600
		,toolbar: "syntax_selection, |, select_font, |, fullscreen, *, new_document,|, search, go_to_line, undo, redo, |, highlight, word_wrap"
		,font_size: 14
	});

	// callback functions
	function my_save(id, content){
		//alert("Here is the content of the EditArea '"+ id +"' as received by the save callback function:\n"+content);
	}
		
	function my_load(id){
		editAreaLoader.setValue(id, "The content is loaded from the load_callback function into EditArea");
	}
		
	function test_setSelectionRange(id){
		editAreaLoader.setSelectionRange(id, 100, 150);
	}
		
	function test_getSelectionRange(id){
		var sel =editAreaLoader.getSelectionRange(id);
		//alert("start: "+sel["start"]+"\nend: "+sel["end"]); 
	}
		
	function test_setSelectedText(id){
		text= "[REPLACED SELECTION]"; 
		editAreaLoader.setSelectedText(id, text);
	}
		
	function test_getSelectedText(id){
		//alert(editAreaLoader.getSelectedText(id)); 
	}
	
	function editAreaLoaded(id){
		if(id=="example_2")
		{
			open_file1();
			open_file2();
		}
	}
	
	function open_file1()
	{
		var new_file= {id: "to\\ é # € to", text: "$authors= array();\n$news= array();", syntax: 'php', title: 'beautiful title'};
		editAreaLoader.openFile('example_2', new_file);
	}
	
	function open_file2()
	{
		var new_file= {id: "Filename", text: "<a href=\"toto\">\n\tbouh\n</a>\n<!-- it's a comment -->", syntax: 'html'};
		editAreaLoader.openFile('example_2', new_file);
	}
	
	function close_file1()
	{
		editAreaLoader.closeFile('example_2', "to\\ é # € to");
	}
	
	function toogle_editable(id)
	{
		editAreaLoader.execCommand(id, 'set_editable', !editAreaLoader.execCommand(id, 'is_editable'));
	}

</script>

<br />




<% if @pastebin.errors.any? %>

	<div class="alert alert-error">
		<strong>UPS!</strong> something went wrong here:
		<br />
		<ul>
		<% @pastebin.errors.each do |msg| %>
			<li><%= msg[1] %></li>
		<% end %>
		</ul>
	</div>
	
<% end %>

<% if user_signed_in? %>
	<% userId = current_user.id %>
<% else %>
	<% userId = nil %>
<% end %>


<% if userId == @pastebin.user_id || @pastebin.editable %>
	<%= form_for @pastebin, :as => :pastebin, :url => { :controller => 'pastebin', :action => 'update', :id => @pastebin.id, :userId => userId }, :remote => 'true', :id => "pastebin_edit", :method => :post do |p| %>
		<% if userId == @pastebin.user_id || @pastebin.visible %>
			<div class="toolbar" >
				<br /><br />
				<a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out my 8copy!" data-hashtags="8copy">Tweet</a>
				<script>
					!function(d,s,id){
						var js,fjs=d.getElementsByTagName(s)[0];
						if(!d.getElementById(id)){
							js=d.createElement(s);
							js.id=id;
							js.src="//platform.twitter.com/widgets.js";
							fjs.parentNode.insertBefore(js,fjs);
						}
					}(document,"script","twitter-wjs");
				</script>
				<br />
				<% if user_signed_in? %>
					<label class="checkbox">
						<%= p.check_box :visible %> <%= p.label :visible, "Visible to others" %>
					</label>
					<label class="checkbox">
						<%= p.check_box :editable %> <%= p.label :editable, "Editable by others" %>
					</label>
				<% end %>
			</div>
			<div id='status' style='display:none;'>Sending ...</div>
			<br />
			<ul class="nav pull-right"  style="top:100px;">
			  	<li><%= p.submit :id => "boton", :class=>"btn-primary" %></li>
			</ul>
			<div class="tabbable">
			  <ul class="nav nav-pills">
			    <li class="active"><a href="#1" data-toggle="tab">Code</a></li>
			    <li><a href="#2" data-toggle="tab">Rich Text</a></li>
			    <li><a href="#3" data-toggle="tab">Plain Text</a></li>
			  </ul>
			  <i class="icon-file"></i><b><%= @pastebin.url %></b>
			  <div class="tab-content">
			    <div class="tab-pane active" id="1">
				<%= p.text_area :content, { :id => "pastebinText", :wrap => "off", :style => "visibility:hidden" }%> 
				
			    </div>
			    <div class="tab-pane" id="2">
			      <%= p.text_area :richText, { :id => "richText", :wrap => "off", :style => "visibility:hidden" }%> 				
			    </div>
			    <div class="tab-pane" id="3">
			      <%= p.text_area :plainText, { :id => "plainText", :wrap => "off" }%> 				
			    </div>
			  </div>
			</div>
			
		<% else %>
			<b>You are unable to see this pastebin.</b>
		<% end %>
	<% end %>
<% else %>
	<textarea id="disabledPastebin" style="visibility:hidden"><%= @pastebin.content %></textarea>
<% end %>
    

