<%= @message %>

<script type="text/javascript">
   
   var lineObjOffsetTop = 2;
   
   function createTextAreaWithLines(id)
   {
      var el = document.createElement('DIV');
      var ta = document.getElementById(id);
      ta.parentNode.insertBefore(el,ta);
      el.appendChild(ta);
      
      el.className='textAreaWithLines';
      el.style.width = (ta.offsetWidth + 30) + 'px';
      ta.style.position = 'absolute';
      ta.style.left = '40px';
      el.style.height = (ta.offsetHeight + 2) + 'px';
      el.style.overflow='hidden';
      el.style.position = 'relative';
      el.style.width = (ta.offsetWidth + 40) + 'px';
      var lineObj = document.createElement('DIV');
      lineObj.style.position = 'absolute';
      lineObj.style.top = lineObjOffsetTop + 'px';
      lineObj.style.left = '0px';
      lineObj.style.width = '27px';
      el.insertBefore(lineObj,ta);
      lineObj.style.textAlign = 'right';
      lineObj.className='lineObj';
      var string = '';
      for(var no=1;no<10002;no++){
         if(string.length>0)string = string + '<br>';
         string = string + no;
      }
      
      ta.onkeydown = function() { positionLineObj(lineObj,ta); };
      ta.onmousedown = function() { positionLineObj(lineObj,ta); };
      ta.onscroll = function() { positionLineObj(lineObj,ta); };
      ta.onblur = function() { positionLineObj(lineObj,ta); };
      ta.onfocus = function() { positionLineObj(lineObj,ta); };
      ta.onmouseover = function() { positionLineObj(lineObj,ta); };
      lineObj.innerHTML = string;
      
   }
   
   function positionLineObj(obj,ta)
   {
      obj.style.top = (ta.scrollTop * -1 + lineObjOffsetTop) + 'px';   
   
      
   }
   
</script>

<br />
<% if @pastebin.errors.any? %>
	<h2><%= pluralize(@pastebin.errors.count, "error") %> prohibited this item from being saved:</h2>
	<ul>
	<% @pastebin.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>

<% end %>

<%= form_for @pastebin, :as => :pastebin, :url => { :controller => 'pastebin', :action => 'update', :id => @pastebin.id }, :method => :post do |p| %>
	<div class="toolbar" >
		<b>Language:</b>
		<br />
		<select>
			<option value="plain">Plain text</option>
			<option value="c">C</option>
			<option value="java">Java</option>
			<option value="ruby">Ruby</option>
			<option value="scheme">Scheme</option>
		</select>
		<br />
		<br />
		<b>Color scheme:</b>
		<br />
		<select>
			<option value="clasic">Classic cl2p</option>
			<option value="blue">Intense blue</option>
			<option value="red">Furious red</option>
			<option value="psychedelic">Psychedelic</option>
			<option value="bnw">b&w</option>
		</select>
		<br />
		<br />
		<b>Font size:</b>
		<br />
		<select>
			<option value="normal">Normal</option>
			<option value="big">Big</option>
			<option value="bigger">Bigger</option>
			<option value="enormous">Enormous</option>
		</select>
		<br />
		<br />
		<br />
		<%= p.submit %>
	</div>
	<%= p.text_area :content, { :id => "codeTextarea", :wrap => "off" }%> 
	<script type="text/javascript">
		createTextAreaWithLines('codeTextarea');
	</script>
	
<% end %>
