<br />
<div class="row">
	<div class="span6">
	<h2>Sign up</h2>

	<%= twitter_bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			
		<% devise_error_messages! %>
	
		<%= f.text_field :username, :placeholder => 'choose_a_fancy_username' %>
		<br />

		<%= f.email_field :email, :placeholder => 'me@example.com' %>
		<br />

		<%= f.password_field :password %>
		<br />

		<%= f.password_field :password_confirmation %>
		<br />

		<p>
		/*  ========================================
		<br />
		The following fields are optional to fill. <br />
		They will be used for statistical purposes only, do not worry.
		<br />
		=======================================  */
		</p>
	
		<%= f.text_field :age, :class=>"span1" %>
		<br />
	
		<%= f.toggles 'Gender' do %>
			<%= f.radio_button :gender, 'Male', :m, :checked => true %> 
			<%= f.radio_button :gender, 'Female', :f %>
		<% end %>

		<%= f.country_select :country %>

		<%= f.toggles 'I use or want to use this website because...' do %>
			<%= f.radio_button :whyUse, 'I want to share text', :checked => false %> 

			<%= f.radio_button :whyUse, 'I am a programmer and want to share code with others', :checked => false %> 

			<%= f.radio_button :whyUse, 'I am a programmer and want to share code across my own computers', :checked => false %> 

			<%= f.radio_button :whyUse, 'I just need an online notepad', :checked => false %> 

			<%= f.radio_button :whyUse, 'Just curious', :checked => false %> 
		
			<%= f.radio_button :whyUse, 'Other', :checked => true %>
		<% end %>
	
		<%= f.submit "Sign up", :class=>"btn" %>
	<% end %>
	</div>
	<div class="span2">
	&nbsp;
	</div>
	<div class="span4">
		<h2>Hello there</h2>
		<p> You can also sign in using your favorite account, including </p>
	</div>	

</div>
