<!DOCTYPE html>

<html>
<script>

</script>
<head>
	<title>8copy</title>

	<%= stylesheet_link_tag 	"css/bootstrap.css" %>
	<%= stylesheet_link_tag 	"main-styles-1.1.css" %>

	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "bootstrap-modal" %>
	<%= javascript_include_tag "bootstrap-tab" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render "/general/header3" %>

	<div class="container">
		<div class="content">
			<%= yield %>
		</div>
		
	</div>
	<%= image_tag("star-ninja.jpg", :alt => "Hello!", :class=>"ninja") %>
	<%= render "/general/footer" %>
</body>
</html>
