<!DOCTYPE html>
<html>
<head>
	<title>Cl2p</title>
	<%= stylesheet_link_tag    "main-styles" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="header"><%= render "/general/header"%></div>
	<div id="main-container">
		<%= yield %>
	</div>

</body>
</html>
